/* buttons */
.button,
a.button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  padding: var(--spacing-12) var(--spacing-32);
  text-align: center;
  font-style: normal;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 700;
  cursor: pointer;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
  text-decoration: none;
  background: transparent;
}

a.button:hover,
a.button:focus {
    text-decoration: none;
}

.primary,
a.primary {
  border: 1.5px solid var(--color-aqua-500);
  color: var(--color-aqua-500);
}

.primary:hover,
.primary:focus,
a.primary:hover,
a.primary:focus {
  border-color: var(--color-aqua-700);
  color: var(--color-aqua-700);
  cursor: pointer;
}

.primary:disabled,
.primary:disabled:hover,
a.primary:disabled,
a.primary:disabled:hover {
  opacity: 0.5;
  cursor: unset;
}

.primary-filled,
a.primary-filled {
  border: 1.5px solid var(--color-aqua-500);
  color: var(--color-white-100);
  background-color: var(--color-aqua-500);
}

.primary-filled:hover,
.primary-filled:focus {
  border-color:var(--color-aqua-700);
  background-color: var(--color-aqua-700);
  cursor: pointer;
}

.primary-filled:disabled,
.primary-filled:disabled:hover {
  background-color: var(--color-aqua-700);
  opacity: 0.5;
  cursor: unset;
}

.secondary,
a.secondary {
  border: 1.5px solid var(--color-sunset-500);
  color: var(--color-sunset-500);
}

.secondary:hover,
.secondary:focus,
a.secondary:hover,
a.secondary:focus {
    border-color: var(--color-sunset-700);
    color: var(--color-sunset-700);
}

.secondary:disabled,
.secondary:disabled:hover {
    color: #05051E;
    border-color: #05051E;
    opacity: 0.2;
}

.secondary-filled,
a.secondary-filled {
  background-color: var(--color-sunset-500);
  border: 1.5px solid var(--color-sunset-500);;
  color: var(--color-white-100);
}

.secondary-filled:hover,
.secondary-filled:focus,
a.secondary-filled:hover,
a.secondary-filled:focus {
    background-color: var(--color-sunset-700);
    border-color: var(--color-sunset-700);
}

.secondary-filled:disabled,
.secondary-filled:disabled:hover {
    background-color: var(--color-sunset-700);
    border-color: var(--color-sunset-700);
    opacity: 0.5;
}

.inverted,
a.inverted {
  border: 1.5px solid var(--color-white-100);
  color: var(--color-white-100);
}

.inverted:hover,
.inverted:focus,
a.inverted:hover,
a.inverted:focus {
    border-color: #F4EFEA;
    color: #F4EFEA;
}

.inverted:disabled,
.inverted:disabled:hover {
    color: var(--color-white-100);
    border-color: var(--color-white-100);
    opacity: 0.4;
}

.inverted-filled,
a.inverted-filled {
  background-color: var(--color-white-100);
  border: 1.5px solid var(--color-white-100);;
  color: var(--color-midnight-900);
}

.inverted-filled:hover,
.inverted-filled:focus,
a.inverted-filled:hover,
a.inverted-filled:focus {
    background-color: #F4EFEA;
    border-color: #F4EFEA;
}

.inverted-filled:disabled,
.inverted-filled:disabled:hover {
    background-color: var(--color-white-100);
    border-color: var(--color-white-100);
    opacity: 0.4;
}
